.edit-side {
	display: flex;
	flex-direction: column;
	gap: var(--side-bar-gap);
	width: 35ch;
}

.sidebar,
.loader,
.personal-details,
.layout,
.Color {
	background-color: var(--resume-bg-color);
	padding: 1rem;
	border-radius: 0.5rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.sidebar button {
	background-color: #f5f5f5;
	border: none;
	color: #0e374e;
	padding: 0.5rem;
	font-family: inherit;
	border-radius: 0.5rem;
}

.loader button {
	background-color: #f5f5f5;
	border: none;
	color: #0e374e;
	padding: 0.5rem;
	font-family: inherit;
	border-radius: 0.2rem;
}

.loader {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form-container,
.Customize {
	display: flex;
	flex-direction: column;
	gap: var(--side-bar-gap);
}

.personal-details h2,
.Customize h2 {
	margin: 0.5rem 0 1rem 0;
}

.input-section {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	padding-bottom: 0.7rem;
}

.sidebar,
.loader,
.form-container label > * {
	font-family: NotoSans-SemiBold;
	color: rgb(45, 44, 44);
}

.recommended-text {
	color: #9ca3af;
	font-size: 0.7rem;
	margin-left: 0.5rem;
}

input,
textarea {
	background-color: var(--main-bg-color);
	border: 2px solid transparent;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	color: rgba(0, 0, 0, 0.7);
}

input:focus-visible{
	outline: none;
	box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}

textarea {
	resize: none;
	overflow: hidden;
}

.expand-btn,
.btn-form {
	border: none;
	width: 100%;
	padding: 1rem;
	background-color: var(--resume-bg-color);
	border-radius: 0.5rem;
	color: rgb(45, 44, 44);
}

.btn-form {
	font-family: 'NotoSans-SemiBold';
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.expand-btn {
	margin-bottom: 0.4rem;
}

.create-form {
	border: none;
	width: fit-content;
	background-color: var(--resume-bg-color);
	padding: 1rem 3rem;
	border-radius: 50%;
	box-shadow: 0px 0px 1px rgba(1, 1, 0, .7);
}

.form-btns {
	padding: 1rem 0 1rem 0;
	display: flex;
	justify-content: space-between;
}

.save-btn,
.delete-btn,
.cancel-btn {
	padding: 0.5rem 0.5rem;
	border-radius: 5px;
	font-weight: bold;
}

.save-btn {
	background-color: white;
	color: rgba(0, 0, 255, 0.7);
	border: 1px solid rgba(0, 0, 255, 0.7);
}

.delete-btn {
	background-color: white;
	color: rgba(207, 0, 0, 0.7);
	border: 1px solid rgba(207, 0, 0, 0.7);
}

.cancel-btn {
	background-color: var(--resume-bg-color);
	border: 1px solid gray;
	color: gray;
}

.section-content,
.hide {
	height: 0;
	opacity: 0;
	z-index: -1;
}

.open {
	height: auto;
	opacity: 1;
}

.forms-container {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	align-items: center;
}

.education-form,
.experience-form {
	background-color: var(--resume-bg-color);
	padding: 1rem;
	width: 100%;
	border-radius: 0.5rem;
}

.add-experience {
	z-index: 1;
}

.optionbtns button {
	background-color: transparent;
	border: none;
}

.optionbtns button > div {
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.optionbtns button > div:is(.mono) {
	font-family: monospace, "Courier New", Courier, Verdana, Tahoma, sans-serif;
}
.optionbtns button > div:is(.josefin) {
	font-family: JosefinSans;
}
.optionbtns button > div:is(.arial) {
	font-family: Arial, Helvetica, sans-serif;
}

.optionbtns {
	display: flex;
	gap: 1rem;
}

.accent-color {
	display: flex;
	align-items: center;
	font-size: 1.1rem;
}

input[type="color"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	width: 3.5rem;
	height: 3.5rem;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
	border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
	border-radius: 50%;
}
