* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: NotoSans-SemiBold;
  src: url('./assets/Noto_Sans/NotoSans-SemiBold.ttf');
  font-family: JosefinSans;
  src: url('./assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

body {
  --main-bg-color: hsl(220deg 14.29% 95.88%);
  --side-bar-gap: 1.2rem;
  --titles-margin-bottom: 1rem;
  --resume-bg-color: #fff;
  background-color: var(--main-bg-color);
}

h1, h3 {
  text-align: center;
  margin-bottom: var(--titles-margin-bottom);
}